/*General styles*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;

}

span {
    font-weight: 400;
    color: #1ac056;
}

/*General styles END*/

/*Menu nav styles*/

#main-menu {
    background-color: white;
    position: fixed;
    z-index: 100;
    width: 100%;

}

#main-menu ul {
    margin: 0;
    padding: 0;
    text-align: right;
}

#main-menu .menu-item {
    display: inline-block;
    padding: 25px;

}

#main-menu .menu-item a {
    text-decoration: none;
    color: #1ac056;
    font-weight: 300;
    transition: all 0.3s;
}

#main-menu .menu-item a:hover {
    color: #291f1a;
}

/*Menu nav styles END*/

/*main header styles*/

#main-header {
    height: 100vh;
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

#main-header .header-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

#main-header .header-caption h1,
#main-header .header-caption h2 {
    font-weight: 100;
}

#main-header .header-caption h1 {
    font-size: 3em;
}

#main-header .header-caption h2 {
    font-size: 2em;

}

/*main header styles END*/

#about {
    margin-top: 0;
    height: 100vh;
    width: 100%;
    color: black;
    position: relative;
    font-family: 'Roboto', sans-serif;

}

#about .about-caption {
    position: absolute;
    top: 12%;
    left: 50%;
    font-size: 3em;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1em;
}

#span2 {
    padding-left: 10%;
}

#about .photo img {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 20%;
}

#lrm {
    position: absolute;
    left: 30%;
    top: 20%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 2.3em;
}

#skills {
    margin-top: 0;
    height: 100vh;
    width: 100%;
    color: black;
    position: relative;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#skills .skills-caption {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3em;
    transform: translate(-50%, -50%);
    font-size: 1em;
    background-color: darkgrey;
}


#span3 {
    padding-left: 1%;
}

#lrm2 {
    width: 100%;
    left: 10%;
    padding-left: 5%;
    padding-right: 5%;
}
